body {
    text-align: center;
    list-style-position: inside;
}

.title {
    color: lightsalmon;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pizza {
    color: burlywood;
    margin: 20px auto 10px 25px;
    padding: 15px
}

.notpress{
    color:red;
}

div span{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:#000;
    color:#fff;
}